@import "tailwindcss";

@font-face {
    font-family: 'Open Sans';
    src: url(./assets/fonts/OpenSans.ttf) format('truetype');
    font-display: swap;
}

@theme {
    --color-text-primary: #1A1A1A;
    --color-white-900: #fff2f2;
    --color-primary: #EB6440;
    --font-sans: 'Open Sans'
}

@layer base {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        @apply antialiased scroll-smooth;
        font-size: 16px;
    }

    body {
        @apply m-0 p-0 font-sans text-text-primary bg-white-900;
    }

    ul,
    ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    img,
    video {
        @apply max-w-full h-auto;
    }

    a,
    a:visited,
    a:hover,
    a:active {
        @apply text-inherit no-underline;
    }

    button {
        @apply bg-transparent p-0 border-0;
    }
}

.container {
    max-width: 1440px;
    margin-inline: auto
}

#app {
    position: relative
}